.container{
    border: 3px solid red;
    font-size: 3rem;
}
.box{
    padding: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(46, 187, 209);
    border: 3px solid green;
    color: white;
}
.box-1{
    background-color: black;
}
.box-2{
    background-color: rgb(174, 69, 69);
}
.box-3{
    background-color: rgb(46, 10, 122);
}