.container{
    border: 3px solid red;
    font-size: 3rem;
    height: 700px;
}
.box{
    padding: 30px;
    width: 55px;
    height: 50px;
    background-color: rgb(46, 187, 209);
    border: 3px solid green;
    color: rgb(192, 178, 178);
    text-align: center;
}
.box-1{
    background-color: black;
}
.box-2{
    background-color: rgb(174, 69, 69);
}
.box-3{
    background-color: rgb(46, 10, 122);
}